<div class="jumbotron">
  <h2>Welcome to FortiumPartners SocialShare</h2>
  <p class="lead">A social sharing application that will </br>automatically share Fortiums Blog Posts to your LinkedIn network</p>
</div>
 
